@{
    ViewData["Title"] = "ConfirmEmail";
}

<h1>Account locked</h1>
<hr />
<h4>Your account is locked due to too many failed login attempts. Please try again later or <a asp-action="ForgotPassword">reset your password</a></h4>