@model MusicStore.ViewModels.Account.AccountForgotPasswordVM

@{
    ViewData["Title"] = "ForgotPassword";
}

@if (Model.ResetLinkSent)
{
    <h1>Password reset link sent</h1>
    <hr />
    <h4>If you are a registered user, please go to the email address you provided and click on the link we have sent you to reset your password</h4>
}
else
{
    <h1>Forgot password</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ForgotPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}



