@model MusicStore.ViewModels.Account.AccountResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
}

@if (Model.PasswordReset)
{
    <h1>Password reset successful</h1>
    <h4>Your password was successfully reset, you can now <a asp-action="Login">Log in</a></h4>
}
else
{
    <h1>Reset password</h1>
    <hr />
    <div class="row">
        <div class="col-md-6">
            <form asp-action="ResetPassword">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="UserId" type="hidden" />
                <input asp-for="Token" type="hidden" />
                <div class="form-group">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="NewPasswordConfirmation" class="control-label"></label>
                    <input asp-for="NewPasswordConfirmation" class="form-control" />
                    <span asp-validation-for="NewPasswordConfirmation" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Reset password" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}


