@model MusicStore.ViewModels.Manage.ManageAddPasswordVM

@{
    ViewData["Title"] = "AddPassword";
}

<h1>Add password</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="AddPassword">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PasswordConfirmation" class="control-label"></label>
                <input asp-for="PasswordConfirmation" class="form-control" />
                <span asp-validation-for="PasswordConfirmation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Add password" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

