@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{
    <h1>Error</h1>
}
else
{
    <h1>@ViewBag.ErrorTitle</h1>
}


@if (ViewBag.ErrorMessage == null)
{
    <h4>An error occurred while processing your request. The support team is notified and working on the fix</h4>
    <h4>Please contact us at admin@localhost.com</h4>
}
else
{
    <h4>@ViewBag.ErrorMessage</h4>
}

