@model MusicStore.Models.ApplicationUser

<li class="dropdown">
    <a class="nav-link dropdown-toggle text-dark" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        @Model.UserName
    </a>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item" asp-controller="Manage" asp-action="Index">Manage account information</a></li>
        <li><a class="dropdown-item" asp-controller="Order" asp-action="Index">Orders</a></li>
        <li>
            <form class="dropdown-item p-0" asp-controller="Account" asp-action="Logout" method="post">
                <input type="submit" value="Logout" class="form-control nav-link btn text-dark border-0" id="logoutDropdownLink">
            </form>
        </li>
    </ul>
</li>

<style>
    #logoutDropdownLink {
        text-align: left !important;
        padding: 4px 16px !important;
    }

    #logoutDropdownLink:focus {
        outline: none !important;
        box-shadow: none !important;
    }
</style>